<link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/base16/gruvbox-dark-medium.min.css">
<script src=" //cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>

<link type="text/css" rel="stylesheet" href="https://sarckk.github.io/css/jquery.tocify.css" />

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
    integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
<script src="https://sarckk.github.io/scripts/jquery.tocify.min.js"></script>

<script>
    if (document.URL.includes("grokking-transformers")) {
        //Executes your code when the DOM is ready.  Acts the same as $(document).ready().
        $(function () {
            //Calls the tocify method on your HTML div.
            $("#toc").tocify({
                selectors: "h1:not('.exclude-toc'),h2:not('.exclude-toc'),h3:not('.exclude-toc')"
            });
        });
    }
</script>