{{ partial "header.html" . }}
<div class="article-meta">
<h1 class="exclude-toc"><span class="title">{{ .Title | markdownify }}</span></h1>
{{ if (gt .Params.date 0) }}<h2 class="date exclude-toc">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
<p class="terms">
    {{ range $i := (slice "tags") }}
    {{ with ($.Param $i) }}
    {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
    {{ end }}
    {{ end }}
</p>
</div>
</div>

<div class="container-wrapper">
    <div class="left-container">
        <div id="toc"></div>
    </div>
    <div class="container">
        <main>
        {{ .Content }}
        </main>
    </div>
    <div class="right-container"></div>
</div>

{{ partial "footer.html" . }}